@using Microsoft.AspNet.Identity

@if (Session["UserId"] == null)
{
    // Not actually appearing right justified navbar-right not working?!?!?!?
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="nav-item nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-link">@Html.ActionLink("Log Off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
